<div id="welcomeContainer" style="display: none;">
    
    <div class="welcome-background-overlay"></div>

    <div id="welcomeContent">
        
        <div class="welcome-logo-wrapper">
            <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
            <div class="welcome-logo-glow"></div>
        </div>

        <div class="welcome-text-area">
            <h1 id="welcomeHeader"><%- lang('welcome.welcomeHeader') %></h1>
            
            <div class="welcome-divider"></div>
            
            <p id="welcomeDescription"><%- lang('welcome.welcomeDescription') %></p>
            <p id="welcomeDescCTA"><%- lang('welcome.welcomeDescCTA') %></p>
        </div>

        <button id="welcomeButton">
            <span class="btn-text"><%- lang('welcome.continueButton') %></span>
            <div class="btn-icon">➔</div>
        </button>

    </div>
    
    <script src="./assets/js/scripts/welcome.js"></script>
</div>